/* Initializing the page */
* {
  background-color: black;
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  margin: 20px 13px 20px 13px;
  display: flex;
  flex-direction: column;
}

/* Animations Used */
.shadow_1 {
  animation-name: bio_entry_animation_right;
  animation-duration: 2.85s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

.shadow_2 {
  animation-name: bio_entry_animation_left;
  animation-duration: 2.85s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes bio_entry_animation_left {
  from {
    position: relative;
    right: 100%;

  }

  to {
    position: relative;
    right: 0%;

  }
}

@keyframes bio_entry_animation_right {
  from {
    position: relative;
    left: 100%;

  }

  to {
    position: relative;
    left: 0%;

  }
}

/* Content Styling  */
.logo {
  padding: 35px 0px 25px 0px;
}

.logo img {
  border-radius: 3px 23px;
  box-shadow: 3px 2px 7px grey;
  transition: all .2s ease 0s;
}

.logo img:hover {
  border-radius: 23px 3px;
  transform: scale(1.03);
}

.info {
  font-size: 1.05rem;
  font-family: 'Manrope', sans-serif;
}

.info p {
  margin: 10px 0px 10px 0px;
  padding: 5px;
}

.socials {
  margin-top: 10px;
}

.socials a img {
  width: 35px;
  margin: 12px 9px 5px 9px;
  transition: all .5s ease-in-out 0s;
  border-radius: 45%;
  box-shadow: 2.5px 2.5px 10px grey;
}

.socials a img:hover {
  transform: rotate(360deg) scale(1.2);
}

/* Usefull Classes */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-heading {
  font-family: 'Satoshi', sans-serif;
  font-size: x-large;
  font-size: 1.35rem;
}

.secondary-heading {
  font-family: 'Satoshi', sans-serif;
  font-size: 1.15rem;
  font-weight: 300;
  padding: 10px 0px 10px 0px;
}

.underline {
  text-decoration: underline dotted;
}

.center {
  text-align: center;
}

.red {
  /* color: #00c9f7; */
  color: #c80c2f;
}

.blue {
  color: #00c9f7;
}

.cream {
  color: #f8edcc;
}