/* Global Styles */
* {
   background-color: #f8edcc;
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: 'Satoshi', sans-serif;
}

/* Body Styling */
body {
   margin: 20px 13px;
   display: flex;
   flex-direction: column;
   cursor: url("/Images/cursor.png"), auto;
}

/* Animations */
.fade-in-left {
   opacity: 0;
   animation: fadeInLeft 1.85s ease forwards;
}

.fade-in-scale {
   opacity: 0;
   animation: fadeInScale .5s ease-in forwards;
}

/* Keyframes */
@keyframes fadeInLeft {
   0% {
      opacity: 0;
      transform: translateX(-50%);
   }

   100% {
      opacity: 1;
      transform: translateX(0%);
   }
}

@keyframes fadeInScale {
   0% {
      opacity: 0;
      transform: scale(0.2) translateX(-50%);
   }

   100% {
      opacity: 1;
      transform: translateX(0%);
   }
}

/* Logo Styling */
.logo {
   padding: 35px 0 25px 0;
}

.logo img {
   border: 1.5px solid rgb(109, 107, 107);
   border-radius: 50%;
   box-shadow: 3px 2px 7px grey;
   transition: transform .2s ease;
}

.logo img:hover {
   transform: scale(1.05);
}

/* Info Section */
.info {
   font-size: 1.05rem;
   text-align: center;
}

.info p {
   margin: 10px 0;
   padding: 5px;
}

/* Social Media Icons */
.socials {
   margin-top: 10px;
}

.socials img {
   width: 35px;
   margin: 12px 9px 5px 9px;
   transition: transform .3s ease;
   border-radius: 45%;
   box-shadow: 2px 2px 4px rgb(88, 88, 88);
}

.socials img:hover {
   transform: scale(1.15);
}

.social-link {
   display: inline-block;
   opacity: 0;
   animation: fadeInScale .5s ease-in forwards;
   animation-delay: calc(4.7s + .5s * var(--i));
}

/* Reusable Utility Classes */
.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.primary-heading {
   font-size: 1.35rem;
}

.secondary-heading {
   font-size: 1.15rem;
   font-weight: 300;
   padding: 10px 0;
}

.underline {
   text-decoration: underline dotted;
}

.center {
   text-align: center;
}

.grey {
   color: rgb(109, 107, 107);
}

.cream {
   color: #4b3a06;
}